<?xml version="1.0" encoding="UTF-8"?>
<suite name = "Orange HRM Automation">
    <test name="Admin Login">
        <classes>
            <class name="testrunner.LoginTestRunner">
            </class>
        </classes>
    </test>
    <test name="PIM Automation">
        <classes>
            <class name="testrunner.PIMTestRunner">
            </class>
        </classes>
    </test>
    <test name="Employee Profile">
        <classes>
            <class name="testrunner.EmployeeProfileTestRunner">
            </class>
        </classes>
    </test>

</suite>